# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Uploads
uploads/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
dist/
build/